.xl-text{
    font-size: 75px;
}

.btn-outline-secondary{
    color: var(--bs-secondary);
    &:hover {
        color: white;
    }
}

.header .decoration-star{
    top: 80px;
    left: -200px;
    width: 500px;
    opacity: 0.7;
}
.header .decoration-star-2{
    top: 80px;
    right: -200px;
    width: 500px;
    opacity: 0.7;
}
.details .decoration-star{
    left: -200px;
    width: 500px;
}
.details-2 .decoration-star{
    width: 500px;
    right: -100px;
}
.contact .decoration-star{
    width: 500px;
    left: -200px;
}
.to-top-btn{
    position: fixed;
    z-index:10;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #44434a;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    img{
       margin-bottom: 0.25rem; 
       width: 18px;
    }
}
.to-top-btn:hover{
    background-color: #1d1d21;
}
.show{
    opacity: 1;
}